.app-list-item-label {
    font-size: 1.25rem;
  }
  
  .app-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .app-list-item button:focus {
    box-shadow: none;
    outline: none;
  }
  
  .app-list-item .btn-star {
    color: #ffd700;
  }
  
  .app-list-item .fa-trash {
    color: red;
  }
  
  .app-list-item .btn-heart {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    user-select: none;
    opacity: 0;
  }
  
  .app-list-item.like .fa-heart {
    opacity: 1;
    transform: translateX(0);
    color: crimson;
  }
  .app-list-item.important .app-list-item-label {
    color: #ffd700;
  }
  .app-list-item.important .btn-star {
    color: #aeaeae;
  }
  @media(max-width: 576px){
    .app-list-item{
      padding: 5px;
      padding-right: 0;
      margin-right: 2px;  
    }
    .app-list-item-label{
      font-size: 18px;
    }
    .app-list-item button {
      width: 25px;
      height: 25px;
      margin: 3px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-heart{
      font-size: 10px;
    }
  }